@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import '../../styles/variables';

.Quote-container {
	font-family: 'Special Elite', cursive;
  height: 100%;
	color: $greyblue;
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
  
  blockquote {
    font-weight: 100;
    font-size: 24px;
    max-width: 400px;
    line-height: 1.2;
    position: relative;
    margin: 0;
    padding: 8px;
  }

  blockquote:before,
  blockquote:after {
    position: absolute;
    color: $platina;
    font-size: 80px;
    width: 16px;
    height: 16px;
  }

  blockquote:before {
    content: '“';
    left: -4rem;
    top: -2rem;
  }

  blockquote:after {
    content: '”';
    right: -4rem;
    bottom: 1rem;
  }

  cite {
    width: 100%;
    max-width: 400px;
    line-height: 3;
    text-align: right;
  }
}

@media screen and (max-width: 600px) {
  .Quote-container {
    blockquote {
      font-size: 16px;
      max-width: 300px;
      line-height: 1.1;
    }
  
    blockquote:before,
    blockquote:after {
      font-size: 48px;
    }

    blockquote:before {
      left: -2rem;
    }
  
    blockquote:after {
      right: -2rem;
    }

    cite {
      font-size: 16px;
    }
  }
}