$white: #FDFFFC;
$black: #011627;

$green: #2EC4B6;
$green-lighter: lighten($green, 40%);
$green-darker: darken($green, 20%);

$red: #E71D36;

$yellow: #FF9F1C;

$blue: #4093D9;

$purple: #69306D;

// Maybes
$platina: #E5E5E5;
$greyblue: #8D99AE;
$blueblack: #2B2D42;